<table class="table">
    <tbody>
        <tr>
            <td>Цена</td>
            <td>{{ dishes.price }} BYN</td>
        </tr>
        <tr>
            <td>Тип напитка</td>
            <td>{{ dishes.type }}</td>
        </tr>
        <tr>
          <td>Состав блюда</td>
          <td>{{ dishes.weight }}</td>
          <td>{{ dishes.ingridients }}</td>
        </tr>
        <tr>
           <td>Клорийность блюда</td>
           <td>Значения указаны на 100 грамм</td>
           <td>{{ dishes.calorie_content }}</td>
        </tr>
    </tbody>
</table>
  